.Inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.inicioImg {
  width: 450px;
  border-radius: 100%;
}

.iconColor {
  margin: 10px;
  font-size: 50px;
  color: #37B6AE;
}

.contato {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contato span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 0 10px;
}

@media(max-width:1280px) {
  .contato {
    flex-direction: column;
  }

  .contato span {
    justify-content: start;
  }
}

@media(max-width:830px) {
  .inicioImg {
    width: 350px;
    border-radius: 100%;
  }
}

@media(max-width:360px) {
  .inicioImg {
    width: 250px;
    border-radius: 100%;
  }
}