.Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Skills ul {
  text-align: center;
  margin: 20px;
  padding: 0;
}

.Skills li {
  display: inline-flex;
  margin: 20px;
}

.Skills svg {
  margin: 0 5px;
  color: #37B6AE;
}

@media(max-width:560px) {
  .Skills li {
    display: flex;
  }
}