@font-face {
  font-family: 'Quicksand';
  src: url(./assets/fonts/Quicksand-Medium.ttf);
}

* {
  text-decoration: none;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
}

.App {
  display: grid;
  grid-template-rows: 80px 1fr 50px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "body"
    "footer";
}

.header {
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: center;
  background-color: #FFB703;
  color: #fff;
  font-weight: 500;
}

.main {
  grid-area: body;
  height: 100vh;
}

.footer {
  grid-area: footer;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav li {
  margin: 0 40px;
}